body{
    background-color: black;
    color: white;
    text-align: center;
}
.btn{
    color: red;
    padding: 10px;
    margin: 10px;
    font-size: 30px;
}
.count{
    color: red;
    font-size: 20px;
}